.container {
    width: 80%; 
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20vh; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
 
  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
  }
  
 
  p {
    margin-bottom: 10px;
  }